<!DOCTYPE HTML>
<html>

    <head>
        <title>{% block title %}Q&A{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        {% block navigation %}
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Questions</a></li>
                    <li><a href="{% url 'popular' %}">Popular Questions</a></li>
                    <li><a href="{% url 'ask' %}">New Question</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'signup' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}

        {% block h1 %}{% endblock %}

        {% block content %}{% endblock %}
    </body>

</html>
