{% extends "base.html" %}

{% block title %}
    {{ block.super }} – Question Detail
{% endblock %}

{% block h1 %}
    <h1>Question: {{ question }}</h1>
{% endblock %}

{% block content %}

    <div>
        Text: {{ question.text }}<br />
    </div>

    <hr />

    {% if answers %}
        {% for obj in answers %}
            <div class="question">
                {{ obj }}<br />
                created at: {{ obj.added_at|date:"d.m.Y" }} {{ obj.added_at|time:"H:i:s" }}
                author: {{  obj.author }}
            </div>
            <hr />
        {% endfor %}
    {% else %}
        <div>No answers.</div>
    {% endif %}

{% endblock %}